<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>

    <div class="nav-bar-logo">Ire-Logo</div>

    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div>
<!-- banner -->
<div>
    <img class="banner" src="https://ik.imagekit.io/fgy34cvr1/test-img-2.png?updatedAt=1712380198955" alt="">
</div>
<!-- banner end -->

<div class="header">
    <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
    <h4 class="btn">Purses</h4>
    <h4 class="btn">Designer Bags</h4>
    <h4 class="btn">Shoulder Bags</h4>
    <h4 class="btn">Travel Bags</h4>
</div>

<div class="product-list-container">

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/purse-3-removebg.png" alt="">
        <h5 class="product-list-text">Purses</h5>
    </div>
    
    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/Designer-Bags-2.png" alt="">
        <h5 class="product-list-text">Designer Bags</h5>
    </div>

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/Shoulder-Bags-2-.png" alt="">
        <h5 class="product-list-text">Shoulder Bags</h5>
    </div>

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/Travel-Bags-4.png" alt="">
        <h5 class="product-list-text">Travel Bags</h5>
    </div>



</div>


