<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>

    <div class="nav-bar-logo">Ire-Logo</div>

    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div>
<!-- banner -->
<div>
    <img class="banner" src="https://ik.imagekit.io/fgy34cvr1/test-img-2.png?updatedAt=1712380198955" alt="">
</div>
<!-- banner end -->

<div class="header">
    <h2 class="collection-header">Ire Purse Bag</h2>
</div>

<div class="product-list-container">

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/purse-3-removebg.png" alt="">
    </div>
    <div class="product-price">
        $40.00
    </div>
    <div class="product-info">
        Travel with style with this class and easy to carry Genuine Leather Duffle bag.
    </div>

    <div class="buy-btn-container">
        <button class="buy-btn">
            Buy now
        </button>
    </div>
</div>






