<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>

    <div class="nav-bar-logo">Ire-Logo</div>

    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div>

<div class="header">
    <h2 class="collection-header">New collection for Spring 2024</h2>
</div>

<div class="btn-container">
    <h4 class="btn">Bags</h4>
    <h4 class="btn">Makeup</h4>
    <h4 class="btn">Clothing</h4>
    <h4 class="btn">Accessories</h4>
</div>

<div class="product-list-container">

    <div class="product-list" [routerLink]="['/product/bags']">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/products_bags.png" alt="">
        <h5 class="product-list-text">Bags</h5>
    </div>
    
    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/lady-dress-4.png" alt="">
        <h5 class="product-list-text">Clothing</h5>
    </div>

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/cosmetrics.png" alt="">
        <h5 class="product-list-text">Makeup</h5>
    </div>

    <div class="product-list">
        <img class="product-img" src="https://sphc.com.ng/ire-shop-pic/lady-watch.png" alt="">
        <h5 class="product-list-text">Accessories</h5>
    </div>



</div>


